<div class="home-page-nav--bar" data-open={{isOpen}} onclick={{action (mut isOpen) (if isOpen false true)}}>
 <span></span>
 <span></span>
</div>

<ul>
  <li><a class="home-page-nav-links">My works</a></li>
  <li><a class="home-page-nav-links">Gallery</a></li>
  <li><a class="home-page-nav-links">About me</a></li>
  <li><a class="home-page-nav-links">Contact</a></li>
</ul>
