<div class="home-page-container d__grid full-height__screen">
{{home/nav-bar}}
 <video class="home-video" loop autoplay>
  <source src="/IMG_1609.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div class="home-page-main-content">
    <h1>Hi</h1>
    <h2>I'm <span>Aravinth Ramesh</span></h2>
    <ul>
        <li>Developer who loves to build things on web,</li>
        <li>a photographer by passion</li>
        <li>and a travel enthusiast</li>
    </ul>
</div>
</div>